<h1>PRUEBA PRÁCTICA</h1>
<h3>YOUNG PROFESSIONAL DATA</h3>

DESARROLLADO POR: 
<b>Andrea Carolina Sánchez Valdés</b>

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import os
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
id_path=("C://Users/hecansaga/Desktop/YPD/BASE_ID.txt")
df_id = pd.read_table(id_path)
df_id.head()

In [ ]:
bm_path=("C://Users/hecansaga/Desktop/YPD/BASE_MOVIMIENTOS.txt")                   
df_bm = pd.read_fwf(bm_path)
df_bm.head()

In [ ]:
df_bm.dtypes

In [ ]:
df_bm.replace(regex=True,inplace=True,to_replace=r'\$ ',value=r'') 
df_bm.replace(regex=True,inplace=True,to_replace=r'\.',value=r'')
df_bm.replace(regex=True,inplace=True,to_replace=r'\,',value=r'.')

In [ ]:
df_bm['SALDO_FONDOS']=df_bm['SALDO_FONDOS'].astype("float64")
df_bm['SALDO_CREDITO1']=df_bm['SALDO_CREDITO1'].astype("float64")
df_bm['SALDO_CREDITO2']=df_bm['SALDO_CREDITO2'].astype("float64")
df_bm['SALDO_ACTIVO']=df_bm['SALDO_ACTIVO'].astype("float64")
df_bm['SALDO_PASIVO']=df_bm['SALDO_PASIVO'].astype("float64")

In [ ]:
df_bm.dtypes

In [ ]:
df_bm['FECHA_INFORMACION'].replace(regex=True,inplace=True,to_replace=r'\:00',value=r'')

In [ ]:
df_bm['FECHA_INFORMACION'].replace(regex=True,inplace=True,
                                   to_replace=['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],
                                   value=['/01/','/02/','/03/','/04/','/05/','/06/','/07/','/08/','/09/','/10/','/11/','/12/'])

In [ ]:
df_bm['FECHA_INFORMACION']=pd.to_datetime(df_bm['FECHA_INFORMACION'])
df_bm.dtypes

In [ ]:
df_bm.describe()

In [ ]:
df_bm.head()

In [ ]:
df_id.dtypes

In [ ]:
df_id.rename(columns={'fuga':'FUGA','CLIENTE_CC':'ID'},inplace=True)

In [ ]:
df_id.replace(regex=True,inplace=True,to_replace=r'\$ ',value=r'') 
df_id.replace(regex=True,inplace=True,to_replace=r'\.',value=r'')
df_id.replace(regex=True,inplace=True,to_replace=r'\,',value=r'.')

In [ ]:
df_id['FUGA']=df_id['FUGA'].fillna(0)
df_id['MES_DE_FUGA']=df_id['MES_DE_FUGA'].fillna(0)

In [ ]:
df_id['SEXO'].unique()

In [ ]:
df_id['SEXO'].replace(inplace=True,to_replace=['F', 'HOMBRE', 'M', 'Hombre', 'mujer', 'femenino', 'masculino',
       'FEMENINO', 'Mujer', 'varón', 'Masc', 'MUJER'],
                      value=['FEMENINO', 'MASCULINO', 'MASCULINO', 'MASCULINO', 'FEMENINO', 'FEMENINO', 'MASCULINO',
       'FEMENINO', 'FEMENINO', 'MASCULINO', 'MASCULINO', 'FEMENINO'])

In [ ]:
df_id['ESTADO_CIVIL'].unique()

In [ ]:
df_id['SITUACION_LABORAL'].unique()

In [ ]:
df_id['SITUACION_LABORAL'].replace(inplace=True,to_replace=['otros', 'Contrato fijo', 'OTROS', 'contrato autonomo',
       ' desconocido   ', 'CONTRATO AUTONOMO', 'CONTRATO FIJO', 'CONTRATO TEMPORAL', 'temporal     ', 'SIN CLASIFICAR'],
                                   value=['OTROS', 'CONTRATO FIJO', 'OTROS', 'CONTRATO AUTONOMO',
       'DESCONOCIDO', 'CONTRATO AUTONOMO', 'CONTRATO FIJO', 'CONTRATO TEMPORAL', 'CONTRATO TEMPORAL', 'SIN CLASIFICAR'])

In [ ]:
df_id['FECHA_ALTA'].replace(regex=True,inplace=True,
                            to_replace=['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic'],
                            value=['01','02','03','04','05','06','07','08','09','10','11','12'])

In [ ]:
df_mesid1=df_id['FECHA_ALTA'].str[:2].astype(object)
df_mesid1.head()

In [ ]:
df_añoid1=df_id['FECHA_ALTA'].str[4:].astype(object)
df_añoid1.head()

In [ ]:
df_diaid1=df_id['FECHA_ALTA'].str[2:4:].astype(object)
df_diaid1.head()

In [ ]:
df_mesid2=df_id['FECHA_NACIMIENTO'].str[4:6:].astype(object)
df_mesid2.head()

In [ ]:
df_añoid2=df_id['FECHA_NACIMIENTO'].str[:4].astype(object)
df_añoid2.head()

In [ ]:
df_diaid2=df_id['FECHA_NACIMIENTO'].str[6:].astype(object)
df_diaid2.head()

In [ ]:
df_id['FECHA_ALTA'] = df_diaid1+'/'+df_mesid1+'/'+df_añoid1
df_id['FECHA_ALTA'].head()

In [ ]:
df_id['FECHA_NACIMIENTO'] = df_diaid2+'/'+df_mesid2+'/'+df_añoid2
df_id['FECHA_NACIMIENTO'].head()

In [ ]:
df_len=df_id['FECHA_NACIMIENTO'].str.len()
df_len.head()

In [ ]:
df_len.idxmax()

In [ ]:
df_id['FECHA_NACIMIENTO'].replace(inplace=True,to_replace='1-01/-0/0001',value='NaN')

In [ ]:
df_id['ID']=df_id['ID'].astype('float64')
df_id['ID']=df_id['ID'].astype('int64')
df_id['FECHA_ALTA']=pd.to_datetime(df_id['FECHA_ALTA'])
df_id['FECHA_NACIMIENTO']=pd.to_datetime(df_id['FECHA_NACIMIENTO'])
df_id['FUGA']=df_id['FUGA'].astype('bool')
df_id['MES_DE_FUGA']=df_id['MES_DE_FUGA'].astype('int64')
df_id.dtypes

In [ ]:
df_bm=df_bm.sort_values(by=['ID','FECHA_INFORMACION'])
df_bm.head()

In [ ]:
df_join=pd.merge(df_bm,df_id[['ID','FUGA','MES_DE_FUGA']],on='ID',how='left')
df_join.head()

In [ ]:
df_join.tail()

In [ ]:
#Promedio abono nomina

count_row=df_join.shape[0]

for i in range(0, count_row):
    a=df_join.at[i,'MONTO_ABONOS_NOMINA']
    b=df_join.at[i+1,'MONTO_ABONOS_NOMINA']
    c=df_join.at[i+2,'MONTO_ABONOS_NOMINA']
    prom=(a+b+c)/3
    df_join.at[i+2,'PROM_TRIM_ABONOS_NOMINA']=prom
    i=i+1
    if (i==31438):
        break

In [ ]:
ids=df_join.groupby('ID').size()

for i in range(2,2501):      
    countid=ids.at[i,]
    j=np.where(df_join["ID"] == i)[0]
    k=j[0]
    df_join.at[k,'PROM_TRIM_ABONOS_NOMINA']="NaN"
    df_join.at[k+1,'PROM_TRIM_ABONOS_NOMINA']="Nan"
    i=i+1
    if i>2501:
        break

In [ ]:
#Promedio saldo ahorros

count_row=df_join.shape[0]

for i in range(0, count_row):
    a=df_join.at[i,'SALDO_AHORROS']
    b=df_join.at[i+1,'SALDO_AHORROS']
    c=df_join.at[i+2,'SALDO_AHORROS']
    prom=(a+b+c)/3
    df_join.at[i+2,'PROM_TRIM_SALDO_AHORROS']=prom
    i=i+1
    if (i==31438):
        break

In [ ]:
ids=df_join.groupby('ID').size()

for i in range(2,2501):      
    countid=ids.at[i,]
    j=np.where(df_join["ID"] == i)[0]
    k=j[0]
    df_join.at[k,'PROM_TRIM_SALDO_AHORROS']="NaN"
    df_join.at[k+1,'PROM_TRIM_SALDO_AHORROS']="Nan"
    i=i+1
    if i>2501:
        break

In [ ]:
#Promedio saldo credito

count_row=df_join.shape[0]

for i in range(0, count_row):
    a=df_join.at[i,'SALDO_CREDITO1']
    b=df_join.at[i+1,'SALDO_CREDITO1']
    c=df_join.at[i+2,'SALDO_CREDITO1']
    d=df_join.at[i,'SALDO_CREDITO2']
    e=df_join.at[i+1,'SALDO_CREDITO2']
    f=df_join.at[i+2,'SALDO_CREDITO2']
    prom=(a+b+c+d+e+f)/6
    df_join.at[i+2,'PROM_TRIM_SALDO_CREDITO']=prom
    i=i+1
    if (i==31438):
        break

In [ ]:
ids=df_join.groupby('ID').size()

for i in range(2,2501):      
    countid=ids.at[i,]
    j=np.where(df_join["ID"] == i)[0]
    k=j[0]
    df_join.at[k,'PROM_TRIM_SALDO_CREDITO']="NaN"
    df_join.at[k+1,'PROM_TRIM_SALDO_CREDITO']="Nan"
    i=i+1
    if i>2501:
        break

In [ ]:
df_join.head()

In [ ]:
for i in range(0,2500):
    j=np.where(df_join["ID"] == i+1)[0]
    y=tuple(j)
    df_i=df_join.loc[y,['ID','PROM_TRIM_ABONOS_NOMINA','PROM_TRIM_SALDO_AHORROS','PROM_TRIM_SALDO_CREDITO']]
    df_id.at[i,'PROM_TA_ABONO_NOMINA']=df_i["PROM_TRIM_ABONOS_NOMINA"].mean()
    df_id.at[i,'PROM_TA_SALDO_AHORROS']=df_i["PROM_TRIM_SALDO_AHORROS"].mean()
    df_id.at[i,'PROM_TA_SALDO_CREDITO']=df_i["PROM_TRIM_SALDO_CREDITO"].mean()
    i=i+1
    if i>2501:
        break

In [ ]:
df_id.head(100)

In [ ]:
df_id.corr()

In [ ]:
sns.heatmap(df_id.corr(), square=True, annot=True)

In [ ]:
num_bins=6
n,bins,patches = plt.hist(df_id['MES_DE_FUGA'],num_bins, alpha = 0.5 ) 
plt.title('Histograma mes fuga')
plt.xlabel('Mes')
plt.ylabel('Frencuencia')
plt.show()

In [ ]:
fig = plt.figure()

ax0 = fig.add_subplot(2, 2, 1) 
ax1 = fig.add_subplot(2, 2, 2) 
ax2 = fig.add_subplot(2, 2, 3)

df_id['PROM_TA_SALDO_CREDITO'].plot(kind='box', figsize=(10, 15), ax=ax0)
ax0.set_title('Box plot saldo credito promedio trimestre')
ax0.set_ylabel('Promedio saldo credito')

df_id['PROM_TA_SALDO_AHORROS'].plot(kind='box', figsize=(10, 15), ax=ax1)
ax1.set_title ('Box plot saldo ahorros promedio trimestre')
ax1.set_ylabel('Promedio saldo ahorros')

df_id['PROM_TA_ABONO_NOMINA'].plot(kind='box', figsize=(10, 15), ax=ax2)
ax2.set_title ('Box plot Abono nomina promedio trimestral')
ax2.set_ylabel('Abono nomina promedio')

plt.show()

In [ ]:
df_id['SEXO'].value_counts()

In [ ]:
df_id['ESTADO_CIVIL'].value_counts().plot(kind='pie', autopct='%.2f', figsize=(6, 6))
plt.title('ESTADO CIVIL')
plt.ylabel('')

In [ ]:
df_id['ESTADO_CIVIL'].value_counts()

In [ ]:
df_id['SITUACION_LABORAL'].value_counts().plot(kind='pie', autopct='%.2f', figsize=(6, 6))
plt.title('ESTADO CIVIL')
plt.ylabel('')

In [ ]:
df_id['SITUACION_LABORAL'].value_counts()

In [ ]:
df_sexo=pd.crosstab(index=df_id['FUGA'],
            columns=df_id['SEXO'], margins=True)
df_sexo

In [ ]:
df_civil=pd.crosstab(index=df_id['FUGA'],
            columns=df_id['ESTADO_CIVIL'], margins=True)
df_civil

In [ ]:
df_cont=pd.crosstab(index=df_id['FUGA'],
            columns=df_id['SITUACION_LABORAL'], margins=True)
df_cont

In [ ]:
pd.crosstab(index=df_id['FUGA'],columns=df_id['SEXO'], margins=True).apply(lambda r: r/len(df_id) *100,axis=1)

In [ ]:
pd.crosstab(index=df_id['FUGA'],columns=df_id['ESTADO_CIVIL'], margins=True).apply(lambda r: r/len(df_id) *100,axis=1)

In [ ]:
pd.crosstab(index=df_id['FUGA'],columns=df_id['SITUACION_LABORAL'], margins=True).apply(lambda r: r/len(df_id) *100,axis=1)

In [ ]:
pd.crosstab(index=df_id['FUGA'],columns=df_id['ESTADO_CIVIL']).apply(lambda r: r/r.sum() *100,axis=1)

In [ ]:
pd.crosstab(index=df_id['FUGA'],columns=df_id['SITUACION_LABORAL']).apply(lambda r: r/r.sum() *100,axis=1)

In [ ]:
pd.crosstab(index=df_id['FUGA'],columns=df_id['SEXO']).apply(lambda r: r/r.sum() *100,axis=1)

In [ ]:
pd.crosstab(index=df_id['FUGA'],columns=df_id['SITUACION_LABORAL']
                  ).apply(lambda r: r/r.sum() *100,
                                              axis=1).plot(kind='bar',figsize=(10,10))

In [ ]:
pd.crosstab(index=df_id['FUGA'],columns=df_id['ESTADO_CIVIL']
                  ).apply(lambda r: r/r.sum() *100,
                                              axis=1).plot(kind='bar',figsize=(10,10))

In [ ]:
df_id['PROM_TA_ABONO_NOMINA'].plot(kind='area', figsize=(10,10))

In [ ]:
df_id['PROM_TA_SALDO_AHORROS'].plot(kind='area',figsize=(10,10))

In [ ]:
df_id['PROM_TA_SALDO_CREDITO'].plot(kind='area',figsize=(10,10))